* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: calibri;
    text-decoration: none;
}

body {
    background-color: #DBDBDB;
}

ul {
    display: flex;
    list-style: none;
    background-color: #B4924F;
    padding: 0;
}

li {
    position: relative;
    padding: 15px;
}

a {
    color: white;
}

/* Submenús ocultos por defecto */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 140px;
    background-color: #373330;
}

/* Mostrar SOLO el submenú del elemento padre en hover */
li:hover > .submenu {
    display: block;
}

/* Cambiar color cuando se pase el mouse sobre un submenú */
li:hover .submenu li:hover {
    background-color: #AA7715;
}
/*______________________________ ARTICULO */
article {
    display: grid;
    grid-template-columns: 1.2fr 1fr; /* Define dos columnas de igual tamaño */
    width: 100%;
    height: 400px;
}
#splayer {
    background-color: #000000;
    padding: 100px 80px 100px 220px;
}
#splayer h1 {
    color: #FFFFFF;
    font-size: 30px;
}
#splayer p {
    color: #FFFFFF;
    margin: 8px 0px 40px;
}
#splayer a {
    border: 1px solid #FFFFFF;
    background-color: #404040;
    padding: 5px 15px;
}
#splayer a:hover {
    border-color: #BC6E33;
    background-color: #AA8337;
}
/*------------------------ FOTOS*/
#contenedor_fotos {
    display: flex;
    align-items: center;
}
#principal {
    width: 350px;
    height: 350px;
    margin: 10px;
}
#historial_fotos {
    display: flex;
    flex-direction: column;
}
.fotos {
    width: 170px;
    height: 170px;
    margin: 5px 0px;
    border-radius: 20px;
    border: 1px solid #000000;
}
/*_____________________________ PIE */
#contenedor_constactos {
    background-color: #444;
}

