* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: calibri;
    text-decoration: none;
    border: none;
}

:root {
  --color-principal: #3498db;
}


html, body {
    min-height: 100%;
}

body {
    background-color: #FFFFFF;
}

/*__________________________________ ARTICULO */
article {
    margin: 60px;
    border-radius: 60px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

#splayer {
    display: grid;
    grid-auto-rows: 0.4fr 1fr 0.1fr;
    background-color: #000000;
    width: 100%;
    min-height: 600px;
    padding: 60px;
    padding-bottom: 100px;
    border-radius: 0px 0px 50px 50px;
}

#splayer h1 {
    color: #FFFFFF;
    font-size: 50px;
}

#splayer p {
    color: #FFFFFF;
    font-size: 30px;
}

#splayer button {
    display: inline-block;
    background-color: #464646;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 35px;
    height: 70px;
}
#splayer button:hover {
    background-color: var(--color-principal);
    border: 1px solid #BC6E33;
}

/* ------------------------------ */
#contenedor_fotos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 600px;
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
}
 
.foto_cambiar_flecha {
    background-color: var(--color-principal);
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 100px;
    padding: 7px 25px;
}
#volver {
    border-radius: 50px 0px 0px 50px;
}

#siguiente {
    border-radius: 0px 50px 50px 0px;
}

/*_______________________________________ FOOTER */

#contenedor_constactos {
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 200px;
    bottom: : 0px
}
#contenedor_constactos p {
    color: : #FFFFFF;
}